/*-------------------*/
/*  GENERAL RESET    */
/*-------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align: baseline;
	background:none;
}
ol, ul {
	list-style:none;
}
h1, h2, h3, h4, h5, h6, li {
	line-height:100%;
}
blockquote, q {
	quotes:none;
}
q:before, q:after {
	content: '';
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
input, textarea, select {
	font:11px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	padding:0;
	margin:0;
}
input:focus, textarea:focus {
	outline: none;
}
form, fieldset {
	border-style:none;
}
html, body {
	margin:0;
	padding:0;
	min-height:100%;
}
/*-------------------*/
/* GENERAL SETTINGS  */
/*-------------------*/
body {
	height:100%;
	font: 12px/12px  "Lucida Sans", "Lucida Grande", sans-serif;
	color: #FFF;
}
a {
	text-decoration:none;
	color: #FFF;
}
a:hover {
	text-decoration:none;
	color: #0285da;
}
.shadow {
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 27, 2011 */

/*
 @font-face {
 font-family: 'DekarRegular';
 src: url('../fonts/dekar-webfont.eot');
 src: url('../fonts/dekar-webfont.eot?#iefix') format('embedded-opentype'),
 url('../fonts/dekar-webfont.woff') format('woff'),
 url('../fonts/dekar-webfont.ttf') format('truetype'),
 url('../fonts/dekar-webfont.svg#DekarRegular') format('svg');
 font-weight: normal;
 font-style: normal;

 }
 */

#background {
	background: white url(img/glossy-metal.png) repeat top left;
}
.wrap {
	width:900px;
	height:100%;
	margin:0px auto;
}
h2.welcome {
	font-size: 32pt;
	color: #DDD;
	text-shadow: 0px 1px 2px #555;
	text-align: center;
	background-color: #777;
	-webkit-box-shadow: inset 0px 1px 1px #3b3b3d;
	-moz-box-shadow: inset 0px 1px 1px #3b3b3d;
	box-shadow: inset 0px 1px 1px #3b3b3d;
	padding: 5px 5px;
	opacity: 0.6;
}
/* TRIANGLES */
div.arrow-up {
	width:0px;
	height:0px;
	border-left:50px solid transparent;
	/* left arrow slant */
	border-right:50px solid transparent;
	/* right arrow slant */
	border-bottom:50px solid #81f94e;
	/* bottom, add background color here */
	font-size:0px;
	line-height:0px;
}
.item {
	color:white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	font-weight: bold;
	opacity:0.85;
	padding: 10px 20px;
	width:100px;
	float:left;
	max-width: 400px;
	min-width:100px;
	margin: 100px 4px 50px 4px;
	-moz-box-shadow: 5px 5px 5px #999;
	-webkit-box-shadow: 5px 5px 5px #999;
	box-shadow: 5px 5px 5px #999;
}
.item:hover {
	text-shadow: 1px 1px 2px #AAA;
	opacity: 1;
}
.item:active {
	-moz-box-shadow: 0px 0px 10px #FFF,           0px 0px 10px rgba(255,255,0,0);
	-webkit-box-shadow: 0px 0px  10px #FFF,         0px 0px 10px rgba(255,255,0,0);
	box-shadow: 0px 0px  10px #FFF,         0px 0px 10px rgba(255,255,0,0);
}
.first {
	background-color: #2887c5;
}
.second {
	background-color:#eb4f4e ;
}
.third {
	background-color: #bc4985;
}
.fourth {
	background-color: #5fb939;
}
.fifth {
	background-color: #e78040;
}
.sixth {
	background-color: #3e8c7d;
}
.deg-rotation {
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-50deg);
}
.link-container {
	margin-bottom:50px;
	height: 200px;
}
.divider-line {
	width:100%;
	height:0px;
	border-top: 1px solid black;
	border-bottom: 1px solid white;
	opacity: 0.5;
	margin: 50px 0 50px 0;
}
/*
 body * {border:1px solid red; }
 */

#home-footer {
	background: url(img/footer-bg.png) top left repeat-x ;
	height: 200px;
	padding: 10px;
	-moz-box-shadow:  1px 1px 1px #ccc;
	-webkit-box-shadow:  1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
	overflow: hidden;
}
#home-footer .column {
	float:left;
	margin-left:10px;
	margin-right:20px;
	padding:8px;
	text-shadow: #333 1px 1px 1px;
	width:240px;
}
.column:last-child {
	margin-right: 0;
}
#home-footer .column h4 {
	margin:10px 0;
	font-size: 1.2em;
}
.column ul {
	list-style: circle;
	list-style-position: inside;
}
.column ul li {
	line-height: 1.3;
}
.column ul li a {
	color: #EEE;
}
.column ul li a:hover {
	color:#FFF;
}
